body {
   background-color: Ivory;
   color: Gray;
}

h1 {
  font-size: 20px;
  border: 2px;
}

p {
  font-size: 16px;
  color: DarkBlue;
  background-color: Lavender;
}

ol {
  list-style: lower-latin;
}

ul {
  list-style: square;
}

div.first {
  background-color: Yellow;
}

a.upperleftcorner {
  background-color: Pink;
  border-radius: 2px;
  left: 0;
  top: 0;
  position: fixed;
}

.classDiv {
  border: 2px dotted;
  width: 200px;
  height: 200px;
}
